[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
pydantic = {extras = ["all"], version = "*"}
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
